.git
.vscode
.idea
.env
.env.backup
.env.production
tests
docs
vendor
node_modules
storage/framework/cache
storage/framework/sessions
storage/framework/views
storage/logs
storage/app/public/qrcodes
*.log
.phpunit.cache
Homestead.json
Homestead.yaml
Thumbs.db
